<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        h1 {
            color: #333;
            margin-bottom: 10px;
        }

        p {
            color: #666;
            margin-bottom: 20px;
            line-height: 1.6;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #FFA45C;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }


        .navbar-brand {
            display: inline-block;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            margin-right: 1rem;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;
        }

            .navbar-brand:hover, .navbar-brand:focus {
                text-decoration: none;
            }

        .ftco-navbar-light.scrolled .navbar-brand {
            color: #1b212c;
        }

        .navbar-brand {
            font-weight: 700;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 1;
        }

            .navbar-brand small {
                font-size: 10px;
                letter-spacing: 6px;
                font-weight: 700;
                color: #167ce9;
            }

            .navbar-brand i {
                color: #167ce9;
                font-size: 30px;
            }
    </style>
</head>
<body>
    <div class="container">
        <a class="navbar-brand"><i class="flaticon-university"></i>Genius <br><small>ExamScores</small></a>
        <div class="header">
            <h1>ExamScores</h1>
        </div>
        <p>Dear Students,</p>

        <p>The Examination Department would like to inform you that your exam scores for the subject <strong>{SubjectName}</strong> have been updated.</p>

        <p>If you have any questions regarding your exam scores, please contact the Examination Department within one week from the date of this notification for clarification.</p>

        <p>Students who scored below 40% and did not pass need to register for a retake exam within one month from the date of this notification. If you fail to register for the retake exam within the given time, it will be considered as a missed exam and you will be required to retake the course.</p>

        <p>For project-based subjects, there are no retake exams. Therefore, students who did not pass (scored below 40%) must register to retake the course.</p>

        <p>Students who are not eligible to take the exam due to exceeding the allowed number of absences must retake the course.</p>

        <p>Sincerely,</p>

        <p>Academic Management and Student Affairs Department</p>


    </div>
</body>
</html>

