@{
    Layout = "~/Views/Shared/User_Layout.cshtml";
    ViewData["Title"] = "Admission";
}
<div class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg'); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center">
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="index.html">Home</a></span> <span>
                        Admission Procedure
                    </span>
                </p>
                <h1 class="mb-3 bread">
                    Admission Procedure
                </h1>
            </div>
        </div>
    </div>
</div>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" style="text-align: center;">
        @TempData["SuccessMessage"]
    </div>
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="blog-entry align-self-stretch">
                    <div class="text p-4 d-block">
                        <h3 >Student Admission Form</h3>
                        <form method="post" asp-controller="Page" asp-action="SubmitAdmissionForm" >
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input type="text" id="name" name="StudentName" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="father_name">Father's Name:</label>
                                        <input type="text" id="father_name" name="FatherName" class="form-control" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="mother_name">Mother's Name:</label>
                                        <input type="text" id="mother_name" name="MotherName" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dob">Date of Birth:</label>
                                        <input type="date" id="dob" name="DateOfBirth" class="form-control" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="gender">Gender:</label>
                                        <select id="gender" name="Gender" class="form-control" required>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="major">Major:</label>
                                        <select id="major" name="MajorsId" class="form-control" required>
                                            <option value="">Select Major</option>
                                            @foreach (var major in ViewBag.Majors)
                                            {
                                                <option value="@major.MajorsId">@major.MajorName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="current_address">Current Address:</label>
                                        <textarea id="current_address" name="CurrentAddress" class="form-control" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="permanent_address">Permanent Address:</label>
                                        <textarea id="permanent_address" name="PermanentAddress" class="form-control" required></textarea>
                                    </div>
                                </div>
                            </div>


                            <h3>Previous Exam Details</h3>
                            <table>
                                <tr>
                                    <th>SchoolName</th>
                                    <th>Center</th>

                                </tr>
                                <tr>
                                    <td><input type="text" name="SchoolName[]" required style="width: 270px;"></td>
                                    <td><input type="text" name="Center[]" required style="width: 270px;"></td>


                                </tr>
                                </table>
                                <table>
                                <tr>
                                    <th>Registration Number</th>
                                    <th>Academic Major</th>
                                    <th>Field</th>
                                </tr>
                                <tr>
                                    <td><input type="text" name="RegistrationNumber[]" required></td>
                                    <td><input type="text" name="AcademicMajor[]" required></td>
                                    <td><input type="text" name="FieldOfStudy[]" required></td>


                                </tr>
                                <tr>
                                    <th>Marks Obtained</th>
                                    <th>Total Marks</th>
                                    <th> Grade</th>
                                </tr>
                                <tr>
                                    <td><input type="number" name="MarksObtained[]" required></td>
                                    <td><input type="number" name="TotalMarks[]" required></td>
                                    <td><input type="text" name="Grade[]" required></td>
                                </tr>
                            </table><br>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="sports_details">Sports Details (if any):</label><br>
                                        <textarea id="sports_details" name="SportsInfo" class="form-control" required></textarea>
                                    </div>
                                </div>
                            </div>



                            <input type="submit" value="Submit" class="btn btn-primary submit">

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-left: 53px;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }

    .btn-primary {
        font-size: 18px; /* Đặt kích thước font */
        padding: 12px 24px;
        width: 200px;
        margin-left: 350px; /* Đặt kích thước padding */
    }
  
</style>