@{
    Layout = "~/Views/Shared/User_Layout.cshtml";
    ViewData["Title"] = "Facilities";
}

<div class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg'); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Facilities</span></p>
                <h1 class="mb-3 bread">Facilities</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section">
    <div class="container">
        <h2 class="text-center mb-5">State-of-the-Art Facilities - Laboratories</h2>
        <div class="row d-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <div class="img img-about align-self-stretch" style="background-image: url(/images/bg_3.jpg); width: 100%;"></div>
            </div>
            <div class="col-md-6 pl-md-5 ftco-animate">
                <p>Genius University takes pride in providing cutting-edge facilities to support the academic and extracurricular needs of our students. Our facilities are designed to foster creativity, innovation, and collaboration among students and faculty.</p>
                <p>From modern laboratories equipped with the latest technology to expansive libraries stocked with a vast array of resources, our campus offers an environment conducive to learning and growth.</p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <h1 class="text-center mb-5">State-of-the-Art Facilities - Libraries</h1>
        <div class="row d-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <div class="img img-about align-self-stretch" style="background-image: url(/images/bg_3.jpg); width: 100%;"></div>
            </div>

            <div class="col-md-6 pl-md-5 ftco-animate">
                <h2 class="text-center mb-5">State-of-the-Art Facilities - Libraries</h2>

                <p>Genius University takes pride in providing cutting-edge facilities to support the academic and extracurricular needs of our students. Our facilities are designed to foster creativity, innovation, and collaboration among students and faculty.</p>
                <p>From modern laboratories equipped with the latest technology to expansive libraries stocked with a vast array of resources, our campus offers an environment conducive to learning and growth.</p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <h2 class="text-center mb-5">State-of-the-Art Facilities - Sports Facilities</h2>
        <div class="row d-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <div class="img img-about align-self-stretch" style="background-image: url(/images/bg_3.jpg); width: 100%;"></div>
            </div>
            <div class="col-md-6 pl-md-5 ftco-animate">
                <p>Genius University takes pride in providing cutting-edge facilities to support the academic and extracurricular needs of our students. Our facilities are designed to foster creativity, innovation, and collaboration among students and faculty.</p>
                <p>In addition to academic facilities, our campus also boasts a wide range of recreational and sports amenities to promote a healthy and balanced lifestyle among students. Our sports facilities include state-of-the-art gyms, tennis courts, swimming pools, and athletic fields.</p>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section-3 img" >
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex justify-content-center">
            <div class="col-md-9 about-video text-center">
                <h2 class="ftco-animate">Explore Our Campus Facilities</h2>
                <div class="video d-flex justify-content-center">
                    <a href="#" class="button d-flex justify-content-center align-items-center"><span class="ion-ios-play"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter bg-light" id="section-counter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="20">0</strong>
                                <span>Modern Laboratories</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="10">0</strong>
                                <span>Libraries</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="15">0</strong>
                                <span>Sports Facilities</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="5">0</strong>
                                <span>Student Centers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">What Our Students Say</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap text-center">
                            <div class="user-img mb-5" style="background-image: url(/images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">"The facilities at Genius University are truly exceptional. The modern labs and libraries have been instrumental in enhancing my learning experience."</p>
                                <p class="name">Emily Smith</p>
                                <span class="position">Engineering Student</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center">
                            <div class="user-img mb-5" style="background-image: url(/images/person_2.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">"I've had the opportunity to explore various sports facilities on campus. They are well-maintained and provide ample opportunities for students to stay active and healthy."</p>
                                <p class="name">John Doe</p>
                                <span class="position">Sports Science Student</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center">
                            <div class="user-img mb-5" style="background-image: url(/images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">"The student centers at Genius University provide a welcoming and vibrant atmosphere for students to socialize and collaborate. They are truly the heart of campus life."</p>
                                <p class="name">Sarah Johnson</p>
                                <span class="position">Business Student</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2>Subscribe to Our Newsletter</h2>
                    <p>Stay updated with the latest news and events from Genius University. Subscribe to our newsletter today!</p>
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-8">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="Enter email address">
                                    <input type="submit" value="Subscribe" class="submit px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
